---
import "~/styles/global.css";

interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        {description && <meta name="description" content={description} />}
        <link
            rel="preload"
            href="/fonts/MonaSansVF.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/HubotSans.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
    </head>
    <body
        class="max-w-3xl mx-auto px-8 py-8 bg-white text-black leading-relaxed"
    >
        <slot />
    </body>
</html>
