---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="container mx-auto py-12 px-4">
        <p class="font-bold">hectoday/http docs</p>
        <p>Useful links</p>
        <ul>
            <li>
                <a
                    class="underline text-blue-500 visited:text-purple-500 list-disc"
                    href="/docs">Documentation</a
                >
            </li>
            <li>
                <a
                    class="underline text-blue-500 visited:text-purple-500 list-disc"
                    href="https://github.com/hectoday/http">GitHub</a
                >
            </li>
            <li>
                <a
                    class="underline text-blue-500 visited:text-purple-500 list-disc"
                    href="https://jsr.io/@hectoday/http">JSR</a
                >
            </li>
        </ul>
    </body>
</html>
