---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="@hectoday/http">
    <h1>hectoday/http</h1>
    <p>Useful links</p>
    <ul>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="https://github.com/hectoday/http">GitHub</a></li>
        <li><a href="https://jsr.io/@hectoday/http">JSR</a></li>
    </ul>
</Layout>
